/* Sobrelanaturaleza */
  
  .sobrelanaturaleza .contenedor {
    max-width: 600px;
    text-align:;
    height: 700px;
  }
/* natural */
.natural .contenedor{
    text-align: justify;
    right: 679px;
    max-width: 1000px;

}